a {
  color: white;
  letter-spacing: 1px;
}


body {
  background: red;
  color: white;
  font-family: Larsseit,"Helvetica Neue",Helvetica,Arial;
  font-weight: normal;
}

@media (min-width: 786px) {
  #m-img-2 {
    display: none;
  }

  #main {
    margin: 0 250px;
  }

  #main-area > h1 {
    font-weight: normal;
  }

  section#main-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #rhs {
    width: 100%;
  }

  #lhs {
    width: 100%;
  }

  .app-store {
    width: 200px;
  }

  nav {
    margin: 0 5px;
  }

  .header-name {
    font-size: 1.5rem;
  }

  .d-flex {
    display: flex;
  }

  h1 {
    font-size: 2rem;
    width: 740px;
    text-align: center;
    margin: 30px 0;
  }

  h2 {
    text-align: center;
    font-size: 1.75rem;
    margin: 0 0 35px 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  header {
    display: flex;
    width: 100%;
    justify-content: center;
    background: black;
    padding: 10px 0;
  }

  .header-inner {
    max-width: 960px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
  }

  .screenshots {
    display: flex;
    width: 80%;
    margin: 50px 0 0 0;
  }

  .screenshots > img {
    width: 33.333%;
  }

  #features {
    display: flex;
  }

  p { 
    line-height: 1.25rem;
  }

  .feature {
    margin: 5px;
    width: 100%;
  }

  .feature > h3 {
    margin: 0 0 10px 0;
    min-height: 30px;
  }

  .feature > p {
    margin: 0 0 5px 0;
  }

  footer {
    text-align: center;
    background-color: black;
    margin: 50px 0 0 0;
    max-height: 100px;
    padding: 30px;
    height: 100%;
  }

  h2 {
    margin: 40px;
  }
}

@media (max-width: 768px) {
  html, body, header {
    width: 100% !important;
  }

  .header-inner {
    padding: 15px 0;
    font-size: 1.5rem;
  }

  #img-2 {
    display: none;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon {
    width: 80px;
    padding: 5px;
  }

  #feature-anchor, #contact-anchor, #privacy-anchor {
    display: none;
  }

  .header-inner {
    background-color: black;
    width: 100%;
  }

  .screenshots > img {
    width: 100%;
  }

  #main-area {
    margin: 25px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #img-1 {
    display: none;
  }

  /* only on mobile */
  #m-img-2 {
    display: visible;
    width: 100%;
  }

  .app-store {
    width: 55%;
    margin: 20px 0 10px 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0 25px;
    margin-bottom: 15px;
    text-align: center;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    text-decoration: underline;
  }

  section {
    font-size: 1.25rem;
    margin: 0 25px;
  }

  p {
    margin: 15px 0px;
  }

  footer {
    background: black;
    text-align: center;
    padding: 15px 0;
  }
}
